@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.4rem;

  /* Spacing (Padding/Margin) */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-2xl: 5rem;

  /* Border radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* color */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

/* 
  ----------------------------
    Text color css 
  ---------------------------- 
*/
.text-grey-400 {
  color: var(--grey-400);
}

.text-grey-500 {
  color: var(--grey-500);
}
/* 
  ----------------------------
    Text color css end here 
  ---------------------------- 
*/

/* 
  ----------------------------
    Font style 
  ----------------------------
*/
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* 
  ----------------------------
    Font style end here
  ----------------------------
*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.container {
  max-inline-size: 1440px;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-xl);
}

/* 
  ----------------------------
    Header css
  ----------------------------
*/
header {
  margin-block-end: var(--spacing-2xl);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-inline-size: 36rem;

  & h1 {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-3xl);
    line-height: 1.4;
  }

  & p {
    margin-block-start: var(--spacing-md);
    font-size: var(--font-size-base);
  }
}
/* 
  ----------------------------
    Header css end here
  ----------------------------
*/

/* 
  ----------------------------
    main css 
  ----------------------------
*/
main {
  gap: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

main .card {
  background-color: var(--white);
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 50%);
  border-radius: var(--radius-sm);
  min-block-size: 16.667rem;
  max-inline-size: 23.333rem;
  padding-inline: var(--spacing-xl);
  padding-block: var(--spacing-lg);

  & h2 {
    font-size: var(--font-size-lg);
    margin-block-end: var(--spacing-xs);
  }

  & p {
    font-size: var(--font-size-sm);
    margin-block-end: var(--spacing-xl);
  }

  & .container-img {
    display: flex;
    justify-content: end;
  }

  &#card-1 {
    grid-row: 1 / span 2;
    grid-column: 1;
    align-items: center;
    border-block-start: 4px solid var(--cyan);
  }

  &#card-2 {
    grid-row: 1;
    grid-column: 2;
    border-block-start: 4px solid var(--red);
  }

  &#card-3 {
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    border-block-start: 4px solid var(--orange);
  }

  &#card-4 {
    grid-row: 1 / span 2;
    grid-column: 3;
    border-block-start: 4px solid var(--blue);
  }
}
/* 
  ----------------------------
    main css end here
  ----------------------------
*/

/* responsive large devices  */
@media only screen and (max-width: 1024px) {
  .container {
    max-inline-size: 1024px;
  }

  /* 
    ----------------------------
      main css 
    ----------------------------
  */
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  main .card {
    &#card-1 {
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: center;
    }

    &#card-2 {
      grid-column: 1;
      grid-row: 2;
    }

    &#card-3 {
      grid-column: 2;
      grid-row: 2;
    }

    &#card-4 {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-self: center;
    }
  }
  /* 
    ----------------------------
      main css end here
    ----------------------------
  */
}

/* Medium devices responsive */
@media (max-width: 768px) {
  .container {
    max-inline-size: 768px;
  }

  /* 
    ----------------------------
      main css 
    ----------------------------
  */
  main .card {
    &#card-1 {
      grid-row: 1;
      grid-column: 1;
    }

    &#card-2 {
      grid-row: 1;
      grid-column: 2;
    }

    &#card-3 {
      grid-row: 2;
      grid-column: 1;
    }

    &#card-4 {
      grid-row: 2;
      grid-column: 2;
    }
  }
  /* 
    ----------------------------
      main css end here
    ----------------------------
  */
}

/* Small devices repsonsive */
@media (max-width: 600px) {
  .container {
    max-inline-size: 600px;
  }

  /* 
    ----------------------------
      Header css
    ----------------------------
  */
  header {
    & h1 {
      font-size: var(--font-size-xl);
    }
  }
  /* 
    ----------------------------
      Header css end here
    ----------------------------
  */

  /* 
    ----------------------------
      main css 
    ----------------------------
  */
  main {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    align-items: center;
  }

  main .card {
    max-inline-size: 21rem;
  }
  /* 
    ----------------------------
      main css end here
    ----------------------------
  */
}
