@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Font sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Spacing (Padding/Margin) */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */

  /* Border radius */
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */
  --radius-xl: 1.5rem; /* 24px */
  --radius-full: 50%; /* rounded full */

  /* color */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

/* -----------------------
    Color classes 
-------------------------- */
.text-grey-400 {
  color: var(--grey-400);
}

.text-grey-500 {
  color: var(--grey-500);
}

/* -----------------------
    Typography classes 
-------------------------- */
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*------------------------ 
    Component classes  
--------------------------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--white);
}

.container {
  max-inline-size: 1440px;
  min-block-size: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
}

header {
  padding-block-end: var(--spacing-xxl);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-inline-size: 34em;
}

header h1 {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
  line-height: 1.4;
}

header p {
  margin-block-start: var(--spacing-md);
  font-size: var(--font-size-sm);
}

main {
  gap: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

main .card {
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: var(--radius-sm);
  min-block-size: 13.5rem;
  max-inline-size: 20rem;
  padding-inline: var(--spacing-xl);
  padding-block: var(--spacing-lg);
}

main .card h2 {
  font-size: var(--font-size-md);
  margin-block-end: var(--spacing-xs);
}

main .card p {
  font-size: var(--font-size-xs);
  margin-block-end: var(--spacing-xl);
}

main .card .img-container {
  display: flex;
  justify-content: end;
}

main .card .img-container img {
  inline-size: 3rem;
  block-size: 3rem;
}

#card-1 {
  grid-row: 1 / span 2;
  grid-column: 1;
  align-items: center;
  border-block-start: 4px solid var(--cyan);
}

#card-2 {
  grid-row: 1;
  grid-column: 2;
  border-block-start: 4px solid var(--red);
}

#card-3 {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-items: center;
  border-block-start: 4px solid var(--blue);
}

#card-4 {
  grid-row: 2;
  grid-column: 2;
  border-block-start: 4px solid var(--orange);
}

/* Medium devices responsive */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    max-inline-size: 768px;
  }

  main {
    inline-size: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #card-1 {
    grid-row: 1;
    grid-column: 1;
  }

  #card-2 {
    grid-row: 1;
    grid-column: 2;
  }

  #card-3 {
    grid-row: 2;
    grid-column: 1;
  }

  #card-4 {
    grid-row: 2;
    grid-column: 2;
  }
}

/* Small devices repsonsive */
@media only screen and (max-width: 600px) {
  .container {
    max-inline-size: 600px;
  }

  main {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    align-items: center;
  }
}
